{% extends "layout.html" %}

{% block body %}
    <h3>Tervetuloa villiruokasovellukseen!</h3>
    {% if current_user.is_authenticated %}
    <p>Lisää uusi löytö tai selaa omia löytöjäsi</p>
        <ul>
        <li>
        <a class="link" href="{{ url_for('saalis_search') }} ">Listaa saaliit</a>
         </li>
        <li>
        <a class="link" href="{{ url_for('saalis_form') }} ">Lisää saalis</a>
        </li>
        </ul>
    {% else %}
    <p>Kirjaudu tai rekisteröidy lisätäksesi omat löytösi</p>

    {% endif %}
{% endblock %}