{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Laji</th>
      <th>Alue</th>
      <th>Paivamaara</th>
      <th>Maara</th>
      <th>Koordinaatit</th>
    </tr>
    {% for saalis in saaliit %}
    <tr>
      <td>{{ saalis.laji }}</td>
      <td>{{ saalis.alue }}</td>
      <td>{{ saalis.paivamaara }}</td>
      <td>{{ saalis.maara }}</td>
      <td>{{ saalis.koordinaatit }}</td>
      <td><form method="GET" action="{{ url_for('saalis_edit_form',saalis_id = saalis.id) }}">
        <input type="submit" value="Muokkaa">
    </form>
    </tr>
    {% endfor %}
  </table>
{% endblock %}