{% extends "layout.html" %}

{% block body %}
  <table>
    <tr>
      <th>Käyttäjä</th>
      <th>Laji</th>
      <th>Paikka</th>
      <th>Paivamaara</th>
      <th>Maara</th>
      <th>Koordinaatit</th>
    </tr>
    {% for saalis in saaliit %}
    <tr>
      <td>{{ saalis.account_id}}</td>
      <td>{{ saalis.laji }}</td>
      <td>{{ saalis.paikka }}</td>
      <td>{{ saalis.paivamaara }}</td>
      <td>{{ saalis.maara }}</td>
      <td>{{ saalis.koordinaatit }}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}