{% extends "layout.html" %}

{% block body %}
    <h2>Lisää saalis</h2>
    <form method="POST" action="{{ url_for('saalis_create') }}">
        <table>
            <tr>
                <td>
                    {{ form.laji.label }}
                </td>
                <td>
                    {{ form.laji }}
                </td>
                <td>
                    <ul>
                        {% for error in form.laji.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.maara.label }}
                </td>
                <td>
                    {{ form.maara (placeholder="grammaa")}}
                </td>
                <td>
                    <ul>
                        {% for error in form.maara.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.koordinaatit.label }}
                </td>
                <td>
                    {{ form.koordinaatit (placeholder="Decimal Degrees")  }}
                </td>
                <td>
                    <ul>
                        {% for error in form.koordinaatit.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.alue.label }}
                </td>
                <td>
                    {{ form.alue }}
                </td>
                <td>
                    <ul>
                        {% for error in form.alue.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <td>
                    {{ form.julkinen.label }}
                </td>
                <td>
                    {{ form.julkinen }}
                </td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit"  value="Lisää uusi saalis"/>
                </td>
            </tr>
        </table>
    </form>
{% endblock %}