{% extends "layout.html" %}

{% block body %}

    <table class="table">
        <tr>
            <th>Laji</th>
            <th>Alue</th>
            <th>Päivämäärä</th>
            <th>Määrä</th>
            <th>Koordinaatit</th>
            <th>Julkinen</th>
        </tr>
        <tr>
            <td>{{ saalis.nimi }}</td>
            <td>{{ saalis.alue }}</td>
            <td>{{ saalis.paivamaara }}</td>
            <td>{{ saalis.maara }}g</td>
            <td>{{ saalis.koordinaatit }}</td>
            {% if saalis.julkinen %}
                <td>Kyllä</td>
            {% else %}
                <td>Ei</td>
            {% endif %}

        </tr>
    </table>

    <h3>Olet jakanut tämän saaliin seuraavien käyttäjien kanssa:</h3>
    <table class="table">
        <tr>
            <th>Käyttäjä</th>
            <th>Poista</th>
        </tr>
        {% for share in shares %}
            <tr>
                <td>{{ share.target_username }}</td>
                <td>
                    <form method="POST"
                          action="{{ url_for('remove_share',user_id = share.target_id, saalis_id = saalis.id) }}">
                        <input type="submit" value="Poista">
                    </form>
                </td>
            </tr>
        {% endfor %}
    </table>

    <h2>Jaa saalis:</h2>
    {{ error }}
    <form method="POST" action="{{ url_for('share', saalis_id = saalis.id) }}">
        <table>
            <tr>
                <td>
                    {{ form.username.label }}
                </td>
                <td>
                    {{ form.username }}
                </td>
                <td>
                    <ul>
                        {% for error in form.username.errors %}
                            <li>{{ error }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <td colspan="2">
                <input type="submit" value="Jaa"/>
            </td>
            </tr>
        </table>
    </form>
{% endblock %}